{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br><br><br><br><br><br><br><br>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>swal("Be a PART of the solution not PART of the pollution");</script>

<link href='{% static "css/fontawesome.css" %}'>
<link href='{% static "css/styles.css" %}' rel="stylesheet">
<body  style="background-image: url({% static 'IMAGES/image3.jpg' %}) ; background-size:100% ;">
 <center><h1>Search Anything.....But DO YOU KNOW???</h1>
     <h3>The use of the internet alone causes emission of approximately 2,330,041 tons of CO2 and consumes 2,339,400 MWh of electricity everyday</h3></center>


 <div class="container">
    <div class="center">
<span id="typed" style="font-size:35px;"></span>
    </div>
</div>
<div class="wrapper" >

    <form action="{% url 'searchresults' %}" method="post">
        {% csrf_token %}

    <input type="text" placeholder="Search..." name="search">
    <div class="search"></div>
    </form>
</div>
</body>
{% endblock %}